<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/responsive.css" />
    <title>Home Page</title>
</head>
<body class="index-body">
    <div class="index-container">
        <h1 class="main-header">SubScribe</h1>
        <p class="subheader">Manage your subscriptions（☝ ՞ਊ ՞）☝</p>
    </div>
    <div class="index-auth">
        <a class="signin-link" href="/auth/sign-in">Sign In</a>
        <a class="signup-link" href="/auth/sign-up">Sign Up</a>
    </div>
</body>
</html>